.md-box-cc {
    height: 100%;
    background: #fefed6;

    .md-img {
        width: 80%;
        height: 250px;
        margin: 0 auto;
        border-radius: 20px;
    }

    .md-box {
        width: 65%;
        margin: 50px auto;
        padding: 20px;
        background: white;
        border-radius: 10px;
    }
}
